/* Style sheet */

/* Navigointivalikko listana, mutta horisontaalisesti asemoituna */

/* IE-settings*/
article, aside, figure, header, nav, section  {display: block;}
h1{
	font-size:40px;
	text-align:center;
}
h1, h2{
	color:#fefefe;
	margin: 10px 5px 5px 15px;
	font-family:Alegreya Sans SC;
}

body {
	background-image:url("pictures/bg.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	margin: auto;
}
table {
	width:100%;
}
td{
	width:33%;
}

td img {
	width: 80%;
	display:block;
	margin:auto;
	margin-bottom: 10px;
}

body nav { 
	background-width: 100%;
	min-height:80px;
	color:white;
	text-align: center;
	padding: 1px;
	/*background: #000;*/
	background: #414141; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #000000, #0f0f0f, #141414, #0f0f0f, #000000);/*  For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, #000000, #0f0f0f, #141414, #0f0f0f, #000000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #000000, #0f0f0f, #141414, #0f0f0f, #000000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #000000, #000000, #080824, #151545, #272775, #151545, #080824, #000000, #000000); /* Standard syntax */
}

nav ul li {display:block; color:#fefefe; font-size:58px; font-family:Alegreya Sans SC; }

a{color:#ffffff; text-decoration: none; }
a:hover{background:#7e7e7e;}
a:visited{color:red;}
/* ID's */

#MainContainer{
	width:100%;
	margin:auto;
}
#LeftContent{
	position:fixed;
	float:left;
	/*border-radius:5px;*/
	width:15%;
	margin: 0% 3% 0px 0px;
}
#RightContent{
	float:right;
	/*border-radius:5px;*/
	margin: 0px 0px 0px 3%;
	width:80%;
}
.sidetext{
	font-size:20px;
}
.maintext{
	font-size:20px;
}
.item{
	font-size:20px;
	margin: 0 25% 0 0 ;
	color:#fefefe;
	background-color:#272830;
	border-top: 1px solid #7e7e7e;
	padding:5px 5px 5px 5px;
}

.centeredtext{
	width:75%;
	font-size:20px;
	text-align:left;
	margin:auto;
}

.info{
	font-size:20px;
	margin: 0px 0% 2% 10%;
	color:#fefefe;
	padding:5px 5px 5px 5px;
}
.text{
	font-size:20px;
	margin: 0px 5px 15px 15px;
}
/* Responsive */
@media screen and (max-width: 1020px) {

	.item{
		margin:0 5% 0 5%;
	}
	
	#MainContainer{
		width:100%;
		margin:auto;
		margin-top:20px;
	}
	
	#LeftContent{
		position:static;
		float:left;
		width:100%;
		margin: 0px 0px 0px 0px;
	}
	#RightContent{
		float:left;
		margin: 0px 0px 0px 0px;
		width:100%;
	}
}